<div class="row index-container">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
      <div class="panel-body photo-results">
        Drag on to here to add an image, then you can move them around once they are on the page.
      </div>
    </div>
  </div>
</div>
