<div class="row index-container">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
      <div class="panel-body photo-results">
        Here is the spot that you can find images from google.
      </div>
    </div>
  </div>
</div>
