<div class="row nav-container">
  <div class="col-xs-2 col-xs-offset-5">
    <ul class="nav nav-pills">
      <li><a id="search-button" href="#">Search</a></li>
      <li><a id="create-button" href="#/new">Create</a></li>
    </ul>
  </div>
</div>
