<div class="row nav-container">
  <div class="col-xs-3 col-xs-offset-5">
    <ul class="nav nav-pills">
      <li>
        <a id="search-button" href="#"><span class="glyphicon glyphicon-search"></span>&nbsp&nbspSearch</a>
      </li>
      <li><a id="create-button" href="#/new"><span class="glyphicon glyphicon-wrench"></span>&nbsp&nbspCreate</a></li>
    </ul>
  </div>
</div>
