<form role="form">
  <div class="form-group input-group-lg">
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Search">
  </div>
</form>
<div class="panel panel-default">
  <div class="panel-body search-results">
    Panel content
  </div>
</div>
