<form role="form">
  <div class="form-group input-group-lg">
    <input type="search" class="form-control" id="exampleInputEmail1" placeholder="Search">
  </div>
</form>
<div class="panel panel-default search-results">
  <div class="panel-body">
    Search results here.
  </div>
</div>
