<div class="row valign">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="jumbotron">
      <h1>New to <span class='blue'>live</span>slide?</h1>
      <p>No need to login, just create a slideshow and send someone the link. They will see each slide as you click through them. Have fun!</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Let's get going!</a></p>
    </div>
  </div>
</div>
